<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<section class="room">
	<div class="room__text">
    <h1> 50+ Beautiful rooms</br> inspiration</h1>
    <p> Our designer already made a lot of beautiful</br> prototipe of rooms that inspire you</p>
	 <button class="room__button" type="button"> Explore More </button>  
	</div>
	<div>
	
	
	
	</div>
	<div></div>


</body>
</html>
