<section class="furniture">
	<div class="furniture__headline">
		<h3>Share your setup with</h3>
		<h2>#FuniroFurniture</h2>
	</div>

	<div class="furniture__gallery">
		<div class="furniture__column">
			<div class="furniture__top">
				<img class="furniture__img" src="/assets/images/furniture-img/left-1.webp" alt="furniture">
				<img class="furniture__img" src="/assets/images/furniture-img/left-2.webp" alt="furniture">
			</div>
			<div class="furniture__bottom">
				<img class="furniture__img" src="/assets/images/furniture-img/left-3.webp" alt="furniture">
				<img class="furniture__img" src="/assets/images/furniture-img/left-4.webp" alt="furniture">
			</div>
		</div>
		<div class="furniture__column">
			<img class="furniture__img" src="/assets/images/furniture-img/center.webp" alt="furniture">
		</div>
		<div class="furniture__column">
			<div class="furniture__top">
				<img class="furniture__img" src="/assets/images/furniture-img/right-1.webp" alt="furniture">
				<img class="furniture__img" src="/assets/images/furniture-img/right-2.webp" alt="furniture">
			</div>
			<div class="furniture__bottom">
				<img class="furniture__img" src="/assets/images/furniture-img/right-3.webp" alt="furniture">
				<img class="furniture__img" src="/assets/images/furniture-img/right-4.webp" alt="furniture">
			</div>
		</div>
	</div>
</section>
<div class="furniture__spacer"> </div>
