<section class="product">
	<h2 class="product__title">Out Products</h2>
		<div class="product__content">
			<div class="product-card">
				<p class="product__discount">-30%</p>
				<div class="product__img-box">
					<img src="" alt="Stylish cafe chair Syltherine" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Syltherine</h2>
						<p class="product__summary">Stylish cafe chair</p>
						<div class="price-box">
							<p class="price__discount">Rp 2.500.000</p>
							<strike class="price__nodiscount">Rp 3.500.000</strike>
						</div>
					</div>
				</aside>
			</div>
			<div class="product-card">
				<p class="product__discount">-30%</p>
				<div class="product__image">
					<img src="" alt="Stylish cafe chair Leviosa" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Leviosa</h2>
						<p class="product__summary">Stylish cafe chair</p>
						<div class="price-box">
							<p class="price__discount">Rp 2.500.000</p>
							<strike class="price__nodiscount">Rp 3.500.000</strike>
						</div>
					</div>
				</aside>
			</div>
			<div class="product-card">
				<p class="product__discount">-50%</p>
				<div class="product__image">
					<img src="" alt="Luxury big sofa Lolito" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Lolito</h2>
						<p class="product__summary">Luxury big sofa</p>
						<div class="price-box">
							<p class="price__discount">Rp 7.000.000</p>
							<strike class="price__nodiscount">Rp 14.000.000</strike>
						</div>
					</div>
				</aside>
			</div>
			<div class="product-card">
				<p class="product__discount">New</p>
				<div class="product__image">
					<img src="" alt="Minimalist fan Respira" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Respira</h2>
						<p class="product__summary">Minimalist fan</p>
						<div class="price-box">
							<p class="price__discount">Rp 500.000</p>
							<strike class="price__nodiscount">Rp 14.000.000</strike>
						</div>
					</div>
				</aside>
			</div>
			<div class="product-card">
				<p class="product__discount">-30%</p>
				<div class="product__image">
					<img src="" alt="Night lamp Grifo" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Grifo</h2>
						<p class="product__summary">Night lamp</p>
						<div class="price-box">
							<p class="price__discount">Rp 1.500.000</p>
							<strike class="price__nodiscount">Rp 3.500.000</strike>
						</div>
					</div>
				</aside>
			</div>
			<div class="product-card">
				<p class="product__discount">New</p>
				<div class="product__image">
					<img src="" alt="Small mug Muggo" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Muggo</h2>
						<p class="product__summary">Small mug</p>
						<div class="price-box">
							<p class="price__discount">Rp 150.000</p>
							<strike class="price__nodiscount">Rp 3.500.000</strike>
						</div>
					</div>
				</aside>
			</div>
			<div class="product-card">
				<p class="product__discount">-50%</p>
				<div class="product__image">
					<img src="" alt="Cute bed set Pingky" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Pingky</h2>
						<p class="product__summary">Cute bed set</p>
						<div class="price-box">
							<p class="price__discount">Rp 7.000.000</p>
							<strike class="price__nodiscount">Rp 14.000.000</strike>
						</div>
					</div>
				</aside>
			</div>
			<div class="product-card">
				<p class="product__discount">New</p>
				<div class="product__image">
					<img src="" alt="Minimalist flower pot Potty" class="product__image">
				</div>
				<aside class="proudct__description">
					<div class="product__name">
						<h2 class="product__title">Potty</h2>
						<p class="product__summary">Minimalist flower pot</p>
						<div class="price-box">
							<p class="price__discount">Rp 500.000</p>
							<strike class="price__nodiscount">Rp 14.000.000</strike>
						</div>
					</div>
				</aside>
			</div>
		</div>
		<div class="product-more">
			<a href="#" class="product__button">Show more</a>
		</div>
</section>

