<header class="header">

    <div class="header__nav">

        <div class="header__logo">
                <a href="#">Funiro.</a>
        </div>


        <div class="header__links">
                <a href="#">Products</a>
                <a href="#">Rooms</a>
                <a href="#">Inspirations</a>
        </div>


        <div class="header__searchBox">
                <label clas="name-label"></label>
                <input type="text" placeholder="Search for minimalist chair">
        </div>
        

        <div class="header__iconsBox">
                <span class="header__icon"></span>
                <span class="header__icon"></span>
                <span class="header__icon"></span>
        </div>class="

    </div>


    <div class="header__sliderBtn">
                <div>
                    <span class="header__sliderDots"></span>
                    <span class="header__sliderDots"></span>
                    <span class="header__sliderDots"></span>
                    <span class="header__sliderDots"></span>
                </div>

                <div>
                    <span class="header__sliderArrow"></span>
                    <span class="header__sliderArrow"></span>
                </div>
    </div>


    <div class="header__content">

                <div class="header__rightContents">
                    <h1>High-Quality Furniture Just For You</h1>
                    <p>Our furniture is made from selected and best quality materials that are suitable for your dream home</p>
                    <button>Shop Now</button>
                </div>


                <div class="header__leftContents">
                    <h4>Bohauss</h4>
                    <p>Luxury big sofa 2-seat</p>
                    <span>RP 17.000.000</span>
                    <span>-></span>
                </div>
 
    </div>

</header>
