*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy-Light';
  src:  url('../fonts/Gilroy-Light.otf') format('opentype'),
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Light";

}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
