.feature{
	max-width: 1440px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;

	& .feature__item{
		display: flex;
		flex-direction: row;
		justify-content:center;
		align-items: center;
		
		& .feature__icon-box{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 85px;
			height: 85px;
			
			& .feature__icon-side{
				width: 35px;
				height: 40px;
			}

			& .feature__icon-center{
			width: 40px;
			height: 38px;
			}
		}

		& .feature__content{
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			line-height: 26px;
		 & .feature__title{
			 margin: 0;
			 font-size: 18px;
		 }
		 & .feature__text{
			 margin: 0;
			 font-size: 16px;
		 }
		}

	}
}

