/* Class for hiding elements on mobile */
.hide {
	display: none;

	@include mq(desktop) {
		display: initial;
	}
}

.furniture {
	&__headline {
		text-align: center;

		h2,
		h3 {
			margin: 0;
			padding: 0;
		}

		h2 {
			font-family: $font-bold;
		}
	}

	&__gallery {
		/* on mobile, 3 column */
		display: flex;
		flex-direction: column;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin: 8px;
	}

	&__top,
	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* DESKTOP */

	@include mq(desktop) {
		padding: 64px 0;

		&__column {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		&__gallery {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		&__top,
		&__bottom {
			display: flex;
			flex-direction: row;
			min-width: max-content
		}

		&__top {
			align-items: flex-end;
		}

		&__bottom {
			align-items: flex-start;
		}
	}
}
