.furniture {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;

	&__headline {
		text-align: center;

		h3 {
			font-size: 20px;
			line-height: 30px;
			margin: 0;
		}

		h2 {
			font-family: $font-bold;
			font-size: 40px;
			line-height: 48px;
			margin: 0;
		}
	}

	&__img {
		margin: 8px;
		object-fit: cover;
	}

	&__top {
		display: flex;
		align-items: flex-end;
	}

	&__bottom {
		display: flex;
		align-items: flex-start;
	}
}
