/* COLORS */
:root {
	$button-color: #E89F71;
	$product-bg: #F4F5F7;
	$discount-color: #E97171;
	$new-color: #2EC1AC;
	$beautiful-bg: #FCF8F3;
}

/* FONTS */
:root {
	$font-bold: "Gilroy-Bold";
	$font-light: "Gilroy-Light";
}
